Package: com.miwix.todaywall
Name: TodayWall
Depends: mobilesubstrate, com.muirey03.libimagepicker
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lavie Gariv
Author: Lavie Gariv
Section: Tweaks
